/* === Variables === */
:root {
  --bg: #ffffff;
  --card: #d8d8d8;
  --accent: #ffffff;
  --danger: #d32f2f;
  --text-light: #000000;
  --text-dark: #222;
  --header-btn-size: 64px;
}

* { margin:0; padding:0; box-sizing:border-box;text-align: center; }

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text-light);
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

/* === Header === */
header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:#ffffff;
  color:#000000;
  padding:0 12px;
  height:60px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
#tituloNivel { flex:1; text-align:center; font-size:1.8rem; font-weight: 500; }

.header-btn {
  background:none;
  color:#000000;
  border:none;
  border-radius:10px;
  cursor:pointer;
  display:grid;
  place-items:center;
  padding-top: 0%;
}
.big-btn { width: 40px; height:40px; font-size:2rem; }
.plus-btn { font-size:2.4rem; }

#logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
#logoutButton img {
  width: 24px;
  height: 26px;
}

/* Caja debajo del header */
#subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background: #ffffff;
  height: 30px;
}

/* Botones dentro del subheader */
#subHeader .header-btn {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}

/* === Auth forms === */
form { padding:12px; margin:10px auto; border:none; }
input, button {
  width:75%;
  margin:6px auto;
  display:block;
  padding:8px;
  border-radius:6px;
  border:1px solid #ccc;
}
button { cursor:pointer; }
.hint { font-size:0.9rem; color:#ccc; text-align:center; }
.err { color:var(--danger); }
.ok { color:green; }
.hidden { display:none; }

/* === List Items === */
.list-item {
  display:flex; align-items:center; vertical-align: text-top; gap:8px;
  background:#f5f5f5; padding:10px; margin: 20px;
  border-radius:8px; cursor:pointer;box-shadow: -5px 5px 10px #b6b6b6;width: 95%; margin-left: 2.5%; height: 80px;
}
.list-item input { background:transparent; border:none; color:#414141; flex:1; font-size: 1.2rem;text-align: left;}

/* === Series === */
.series-header, .series-container>div {
  margin-left:0px;display:grid; grid-template-columns:repeat(7,1fr); gap:1px; align-items:center;
}
.series-header { font-weight:bold; margin-bottom:10px; }
.series-container input { background:#ececec94; color:#000; padding: 4px; border-radius:6px; font-size: 1.2rem; }

/* Botones de series */
.series-container button, .list-item button, #headerButtons button {
  width:35px; height: 35px;
  border:none; border-radius:8px;
  background-color: #cacaca; color:#000; font-size:1.2rem;
}

/* Añadir serie */
.add-serie {
  grid-column: span 6;
  padding:14px;
  background:#cacaca; color:#000000;
  border:none; border-radius:10px;
  margin:12px;
  width: 94%;
}

/* Notas */
.notes {
  width:94%; height: 100px; margin-top:10px; margin: 12px;
  border:1px solid #ccc; border-radius:10px; padding:14px;
}

/* Timer */
#timerContainer {
  position:fixed; bottom:80px; left:50%; transform:translateX(-50%);
  background:none; color:#3498f7;
  font-size:4rem; font-weight:bold;
  padding:15px 30px; border-radius:100px;
  display:inline-block; z-index:200;
  width: 100%;
  justify-content:space-around
}
#timerContainer.timer-active { display: block; }
#timerContainer.timer-warning { background:var(--danger); }

/* Footer */
#footerNav {
  position:fixed; bottom:0; left:0; width:100%; height:60px;
  display:flex; justify-content:space-around; align-items:center;
  background:#ffffff; border-top:1px solid #ccc; z-index:100;
}
.footer-btn { background:none; border:none; }
.footer-btn img { width:24px; height:24px; }

/* Side menu */
#menuOverlay {
  position:fixed; top:0; left:0; width:100%; height:100%;
  background:rgba(65, 65, 65, 0.8); z-index:90;
}

#menuButton {
  background: none;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: none;
  width: 40px;
  height: 40px;
}

.sideMenu {
  position:fixed; top:0; left:-50%; width:50%; height:100%;
  background:#ffffff; padding:20px;
  transition:left .3s ease;
  display:flex; flex-direction:column; z-index:100;
}
.sideMenu-btn { color: #414141; margin:5px; padding:20px; text-align:left; border:none; background:none; font-size: 0.9rem;}

#logomenulateral {
  text-align: left;
  margin-bottom: 100px;
  margin-top: 70px;
  margin-left: 0px;
  font-size: 1.3rem;
}
#logomenulateral img {
  width: 30%;
  max-width: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
}
/* Dashboard */
.dashboard-container { display:flex; flex-wrap:wrap; gap:20px; padding:20px; }
.dashboard-card { background:#f5f5f5;border: #000000; padding:15px 25px; border-radius:10px; width: 100%;height: 300px; text-align:center; box-shadow:-5px 5px 10px #cacaca;}
.dashboard-card h3 { margin:0 0 10px; color:#414141; }
.dashboard-card p { color: #000000; font-size:15px; font-weight:bold; }

/* Estilos para el botón de pausa */
.btn-pause {
  background-color: #c2c2c2; /* Verde */
  color: white;
  font-size: 24px;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90px; height: 90px;
  display: inline-block;
  box-shadow: 0 0 20px 10px rgba(146, 146, 146, 0.3);
  outline: none;
  }

.btn-pause:hover {
  background-color: #8d8d8d;
  box-shadow: 0 0 20px 10px rgba(146, 146, 146, 0.3);
}

/* Estilos para el botón de parar */
.btn-skip {
  background-color: #f56e6e9f; /* Rojo */
  color: white;
  font-size: 24px;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90px; height: 90px;
  display: inline-block;
  margin-left: 50px;
  box-shadow: 0 0 20px 10px rgba(230, 82, 82, 0.3);
}

.btn-skip:hover {
  background-color: #e53935; /* Rojo más oscuro */
  box-shadow: 0 0 20px 10px rgba(230, 82, 82, 0.3);
}
